################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CERA.Azure.API/obj
/CERA.Azure.Data/obj
/CERA.Azure.SDK/obj
/CERA.Azure.Service/obj
