################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CERA.Azure.API/obj
/CERA.Azure.Data/obj
/CERA.Azure.SDK/obj
/CERA.Azure.Service/obj
/CERA.Azure.APIServices/obj
/CERA.Azure.ODataAPI/obj
/CERA.Azure.SyncService/obj/Debug
/CERA.Converter/obj/Debug
/CERA.Logging/obj/Debug
/CERA.Azure.SyncService/obj
/CERA.Logging/obj
/CERA.Converter/obj
/CERA.AuthenticationService/obj
/CERA.CloudService/obj
/CERA.DataOperation/obj
/CERAPlatform/obj
/.vs/slnx.sqlite
/.vs/VSWorkspaceState.json
/WebApplication1/obj
