@model CeraWebApplication.Models.AddCeraUser

@{
    Layout = "~/Views/Shared/_ResourcesLayout.cshtml";
    //ViewData["Title"] = "Login";
}
<div class="row">
    <div class="col-md-4">
        <ul class="cera-breadCrumb">
            <li><a asp-controller="Cera" asp-action="DashBoard">Home </a></li>
            <li><a href="#">Admin</a></li>
            <li>Add User</li>
        </ul>
    </div>
    <div class="col-md-8 text-right">
        <div>
            <a asp-controller="Cera" asp-action="ManageUsers" class="back_toList">Back to List</a>
        </div>
    </div>
</div>

<div class="cera-rightContent">
    <h3 class="main_h">AddUser</h3>
    <div class="row">
        <div class="col-md-4">
            <form asp-action="AddUser" class="User_Form">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="UserName" class="control-label"></label>
                    <input asp-for="UserName" class="form-control" required />
                    <span asp-validation-for="UserName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Password" class="control-label"></label>
                    <input asp-for="Password" type="password" class="form-control" required />
                    <span style="font-size:x-small;color:grey">Password must contain minimum length of 4, UpperCase letter,Special Character"@@",one Integer</span>
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="EmailID" class="control-label"></label>
                    <input asp-for="EmailID" type="email" class="form-control" required />
                    <span asp-validation-for="EmailID" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="OrgName" class="control-label"></label>
                    <input asp-for="OrgName" class="form-control" required />
                    <span asp-validation-for="OrgName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Role" class="control-label"></label>
                    <select asp-for="Role" required>
                        <optgroup label="Select Role">
                            <option></option>
                            <option>Admin</option>
                            <option>User</option>
                        </optgroup>
                    </select>
                    <span asp-validation-for="Role" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="AddUser" class="btn btn-default" />
                </div>
            </form>
        </div>
    </div>
</div>


