@model List<CeraWebApplication.Models.AdvisorRecommendations>


@{
    Layout = "~/Views/Shared/_ResourcesLayout.cshtml";
    //ViewData["Title"] = "Login";
}


<div>
    <div class="row">
        <div class="col-md-4">
            <ul class="cera-breadCrumb">
                <li><a asp-controller="Cera" asp-action="DashBoard">Home </a></li>
                <li><a href="#">Resources</a></li>
                <li>Advisor</li>
            </ul>
        </div>
    </div>
    <div class="cera-rightContent">
        <h3 class="main_h">Advisor </h3>
        <table class="table display" id="example" style="width:100%">
            <thead>
                <tr>

                    <th>
                        Category
                    </th>

                    <th>
                        Impact
                    </th>

                    <th>
                        ResourceId
                    </th>

                    <th>
                        Location
                    </th>
                </tr>
            </thead>
            <tbody id="myTable">
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.category)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.impact)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.resourceId)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.location)
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $('#example').DataTable();
    });
</script>
<script type="text/javascript">
    (function () {
        $('.toggle-wrap').on('click', function () {
            $(this).toggleClass('active');
            $('.cera-col3, .cera-col9').toggleClass('menu-open');
        });
    })();
    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
    })
</script>


