@{
    Layout = "~/Views/Shared/_GeneralLayout.cshtml";
    //ViewData["Title"] = "Login";
}
<section class="cera_section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-4">
                        <ul class="cera-breadCrumb">
                            <li><a href="#">Home </a></li>
                            <li>Notifications</li>
                        </ul>
                    </div>
                </div>
                <div class="cera-rightContent">
                    <h3 class="main_h">Notifications List </h3>
                    <div class="notif_div">
                        <div>
                            <div class="notif_card n_open">
                                <div class="media">
                                    <img src="/img/profile.jpg" class="noti_img" alt="img">
                                    <div class="media-body">
                                        <span class="notif_time">5 min ago</span>
                                        <h4>User Account</h4>
                                        <p>Your Account Password changed successfully .Shortly you got mail please check </p>
                                    </div>
                                </div>
                            </div>
                            <div class="notif_card n_open">
                                <div class="media">
                                    <img src="/img/noti1.jpg" class="noti_img" alt="img">
                                    <div class="media-body">
                                        <span class="notif_time">10 min ago</span>
                                        <h4>Account Related</h4>
                                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="notif_card ">
                                <div class="media">
                                    <img src="/img/noti2.jpg" class="noti_img" alt="img">
                                    <div class="media-body">
                                        <span class="notif_time">55 min ago</span>
                                        <h4>Login Activity</h4>
                                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="notif_card ">
                                <div class="media">
                                    <img src="/img/noti3.jpg" class="noti_img" alt="img">
                                    <div class="media-body">
                                        <span class="notif_time">1 Hour ago</span>
                                        <h4>New Account Added</h4>
                                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="notif_card ">
                                <div class="media">
                                    <img src="/img/noti4.jpg" class="noti_img" alt="img">
                                    <div class="media-body">
                                        <span class="notif_time">2 Hour ago</span>
                                        <h4>Content Changed </h4>
                                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>